* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-bottom: 50px;
    background-color: #1f2937;
    padding: 20px 15%;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.links ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero {
    display: flex;
    gap: 80px;
    padding: 100px 15%;
    align-items: center;
    color: white;
    background-color: #1f2937;
    flex-wrap: wrap;
}

.left-part {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}



.sign-up {
    background-color: #3882f6;
    border: none;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
}

.hero-img {
    width: 400px;
    flex: 1;
    height: auto;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin: 32px 0;
    font-size: 36px;
    font-weight: 900;
}

.container img {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 3px;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.info {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #374151;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 64px 20%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
}

.text-quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.jim {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    padding: 40px 20px;
    margin: 100px 150px;
    border-radius: 5px;
    color: white;
    gap: 200px;
}

.action-text h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 800;
}

.action-text p {
    font-size: 16px;
}

.sign-up-2 {
    border: white solid 2px;
    padding: 9px 36px;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 40px 15%;
}

.footer-span {
    color: #9ca3af;
    font-size: 14px;
    margin-left: 8px;
    font-style: italic;
}