body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 16px;
    align-items: center;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    display: flex;
}

.left-links {

}

.right-links {
    display: flex;
}

img {
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}

.header {
    background-color: #1f2937;
    margin: 0;
}