* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-bottom: 50px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.links ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero {
    display: flex;
    gap: 50px;
    padding-bottom: 100px;
    align-items: center;
    color: white;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

nav, .hero {
    background-color: #1f2937;
    padding: 10px 15%;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
}

.hero-img {
    width: 300px;
    height: auto;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin: 32px 0;
    font-size: 36px;
    font-weight: 900;
}

.container img {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 3px;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info {
    max-width: 200px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    padding: 64px;
    justify-content: center;
}

.jim {
    display: flex;
    justify-content: flex-end;
}